<section ng-controller="AdvisorController">
  <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
   <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
        <div class="container">
          <h2><div align="center">Welcome/Title</div></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in lacinia tortor. Nullam id quam consectetur, scelerisque felis a, euismod orci. Curabitur at dictum nulla, et efficitur tortor. Suspendisse posuere elit non volutpat porttitor. In finibus efficitur cursus. Donec porta ullamcorper porta. Suspendisse condimentum tincidunt neque, vel ullamcorper lacus.</p>
      </div>
    </div>
  <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
       <div class="container">
  <table>
    <thead>
      <tr><th colspan="4"></th></tr>
    </thead>
    <tbody>
    </tbody>
  </table>
   <button type="submit" ng-click="homeAdvisorView();">Home</button> 
  <button type="submit" ng-click="matchmaking();">Matchmaking</button>
  <button type="submit" ng-click="systemSettings();">System Settings</button>
  <button type="submit" ng-click="courses();">Courses</button>
  <button type="submit" ng-click="applicants();">TA Applicants</button>
  </DIV>
  </DIV>
</section>