<section ng-controller="ACourseController">
  <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  <div>
    <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
      <h2><div align="center">{{currentCourse.courseName}}
    </div></h2>
    <table>
        <button type="submit" ng-click="updateCourseStatus(currentCourse); updatePage(currentCourse)"> {{activatebutton}}</button>
        <thead>
          <tr><th colspan="4">Status</th></tr>
          <td>{{isactive}}
          </td>
          <tr><th colspan="4">Instructor</th></tr>
          <td>{{currentCourse.instructor}}
            <br>
          </td>
          <tr><th colspan="4">TA Applicants</th></tr>
           <tr ng-repeat="user in TAList">
              <td>     
                 <a href ng-click="taView(user)"> {{user.displayName}}</a href>
              </td>
            </tr>
        </thead>
    </table>
  </div>
</div>
  <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
      <div class="container">
        <button type="submit" ng-click="activeCourses();">All Active Courses</button>
        <button type="submit" ng-click="allCourses();">All Registered Courses</button>
        <button type="submit" ng-click="inactiveCourses();">All Inactive Courses</button>
        <button type="submit" ng-click="addCourse();">Add Course</button><p> 
              <td>{{coursesshown}}</td>
        <input type="text" ng-model="nameFilter" class="form-control" placeholder="Search..."/><p>
        <div class="well">
          <table>
            <tbody>
              <tr ng-repeat="course in courseList | filter:nameFilter">
                <td>{{$index + 1}}</td> 
                <td>     
                  <a href ng-click="updatePage(course);"> {{course.courseName}}</a href>
                </td>
                <td>     {{course.instructor}} 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
  </div>
</section>  