<section ng-controller="FacultyController">
  <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
        <div class="container">
          <h2><div align="center">Welcome/Title</div></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in lacinia tortor. Nullam id quam consectetur, scelerisque felis a, euismod orci. Curabitur at dictum nulla, et efficitur tortor. Suspendisse posuere elit non volutpat porttitor. In finibus efficitur cursus. Donec porta ullamcorper porta. Suspendisse condimentum tincidunt neque, vel ullamcorper lacus.</p>
      </div>
    </div>
    <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
       <div class="container">
  <table>
    <thead>
      <tr><th colspan="4">Courses</th></tr>
    </thead>
      <p>
        Yeah buddy. {{yeah}}
      </p>
    <tr>
       <td>
        <a href ng-click="courseApplicants(course1)">{{course1}}</a href>
       </td>
    </tr>
    <tr>
      <td>
        <a href ng-click="courseApplicants(course2)">{{course2}}</a href>
      </td>
    </tr>
    <tr>
      <td>
        <a href ng-click="courseApplicants(course3)">{{course3}}</a href>
      </td>
    </tr>
    <tr>
      <td>
        <a href ng-click="courseApplicants(course4)">{{course4}}</a href>
      </td>
    </tr>
  </table>
    <button type="submit" ng-click="addCourse();" class="btn btn-large btn-primary">Add Course</button>
    <button type="submit" ng-click="removeCourse();" class="btn btn-large btn-primary">Remove Course</button>
  </div>
</div>
</section>