<section ng-controller="CourseController">
  <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  <!--above line is the code for the sign out header-->
  <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
        <div class="container">
          <h2>Welcome/Title</div></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in lacinia tortor. Nullam id quam consectetur, scelerisque felis a, euismod orci. Curabitur at dictum nulla, et efficitur tortor. Suspendisse posuere elit non volutpat porttitor. In finibus efficitur cursus. Donec porta ullamcorper porta. Suspendisse condimentum tincidunt neque, vel ullamcorper lacus.</p>
      </div>
    </div>
    <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;padding-right: 40px;padding-left: 40px;">
       <div class="container">
            <div class="row">
              <div class="col-md-6">
                <tabset>
                  <tab heading="TAs Recommended for {{show}}"><p><p>
                  <input type="text" ng-model="nameFilter" class="form-control" placeholder="Search..."/><p>              
                  <div class="well">
                    <table>
                      <tbody>
                        <tr ng-repeat="ta in courseTAS track by $index | filter:nameFilter">     
                          <td>    
                            {{ta}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </div>        
              <div class="col-md-6">
                <tabset>
                  <tab heading="{{show}} TA Applicants"><p><p>
                      <input type="text" ng-model="nameFilter" class="form-control" placeholder="Search..."/><p>              
                      <div class="well">
                        <table>
                          <tbody>
                            <tr ng-repeat="app in applicantList | filter:nameFilter">           
                              <td>   
                                <a href ng-click="userInfo(app.username)">{{app.displayName}}</a href>
                              </td>
                            </tr>
                          </tbody>
                          <tbody>
                              {{}}
                          </tbody>
                        </table>
                      </div>
                  </tab>
                  <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                    {{tab.content}}
                  </tab>
                  <tab heading="All TA Applicants"><p><p>
                      <input type="text" ng-model="nameFilter" class="form-control" placeholder="Search..."/><p>              
                      <div class="well">
                        <table>
                          <tbody>
                            <tr ng-repeat="app in allApplicants | filter:nameFilter">           
                              <td>   
                                <a href ng-click="userInfo(app.username)">{{app.displayName}}</a href>
                              </td>
                              <td>
                                {{app.recommended}}
                              </td>
                            </tr>
                          </tbody>
                          <tbody>
                              {{}}
                          </tbody>
                        </table>
                      </div>
                  </tab>
                  <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                    {{tab.content}}
                  </tab>
                </tabset>
              </div>
            </div><p><p>
            <div align="center"><button type="submit" ng-click="back();" class="btn btn-large btn-primary">Back to Course List</button></div>
        </DIV>
      </DIV>
</section>