<section class="row" data-ng-controller="AddController">
		<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<!--above line is the code for the sign out header-->
		<h1>Add Course</h1>
		<form name="userForm"class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Type in Course Name</label>
					<input type="text" id="course" name="course" class="form-control" data-ng-model="ta.cName" placeholder="CIS 4930 ex.">
					<p> {{success}} </p>
				<div class="text-center form-group">
					 <button type="submit" ng-click="updateProfile(ta);" class="btn btn-large btn-primary">Add Course {{ta.cName}}</button>
					 					  				
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
