<section ng-controller="PopulateController">
  <input type="text" ng-model="nameFilter" placeholder="Search..."/>
  <table>
    <thead>
      <tr><th colspan="4">Applicants</th></tr>
    </thead>
      <p>
        Yeah buddy.
      </p>
    <tbody>
      <tr ng-repeat="ta in applicantList | filter:nameFilter">
        <td>{{$index + 1}}</td>
        <td>     
          <a href ng-click="userInfo(ta.username)">{{ta.displayName}}</a href>
            {{ta.gpa}}&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</section>