<section ng-controller="SUserController">
  <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
   <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
        <div class="container">
          <h2><div align="center">Welcome/Title</div></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in lacinia tortor. Nullam id quam consectetur, scelerisque felis a, euismod orci. Curabitur at dictum nulla, et efficitur tortor. Suspendisse posuere elit non volutpat porttitor. In finibus efficitur cursus. Donec porta ullamcorper porta. Suspendisse condimentum tincidunt neque, vel ullamcorper lacus.</p>
      </div>
    </div>
  <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
       <div class="container">
  <table>
    <thead>
      <tr><th colspan="4">Create Faculty or Admin Users</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in courseList">
        <td>{{$index + 1}}</td>
        <td>
          {{user.course1}}&nbsp;{{user.course2}}&nbsp;{{user.course3}}&nbsp;{{user.course4}}
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit" ng-click="createFaculty();">Create Faculty Account</button>
  <button type="submit" ng-click="createAdmin();">Create Admin Account</button>
  </DIV>
  </DIV>
</section>