<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Create Admin Profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="createAdmin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="admin.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="admin.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					 <button type="submit">Create Admin</button>				
				</div>
			</fieldset>
		</form>
	</div>
</section>
