<section class="row" data-ng-controller="SettingsController">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
      	<div class="container">
        	<h2><div align="center">Welcome/Title</div></h2>
        	<p>If you are interested in applying to be a teaching assistant for a class, please fill out the below form. Enter in which classes you would like this application to be submitted for and click "Save Application."</p>
    	</div>
    </div>
	<div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
     	 <div class="container">
			<h3 class="text-center">Edit Your Application<p></h3>
			<div class="col-md-12" style="float: left;">
				<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group"  >
							<label for="firstName" class="control-label col-md-2">First Name</label>
							<div class="col-md-8"><input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name"></div>
						</div>
						<div class="form-group"  >
							<label for="lastName" class="control-label col-md-2">Last Name</label>
							<div class="col-md-8"><input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name"></div>
						</div>
						<div class="form-group"  >
							<label for="email" class="control-label col-md-2">Email</label>
							<div class="col-md-8"><input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email"></div>
						</div>
						<div class="form-group"  >
							<label for="username"class="control-label col-md-2">Username</label>
							<div class="col-md-8"><input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username"></div>
						</div>
						<div class="form-group"  >
							<label for="gpa" class="control-label col-md-2">GPA</label>
							<div class="col-md-8"><input type="text" id="gpa" name="gpa" class="form-control" data-ng-model="user.gpa" placeholder=" Fill in GPA"></div>
						</div>
						<div class="form-group"  >
							<label for="abilities" class="control-label col-md-2">Abilities</label>
							<div class="col-md-8"><input type="text" id="abilities" name="abilities" class="form-control" data-ng-model="user.abilities" placeholder="Fill in abilities"></div>
						</div>
						<div class="form-group"  >
							<label for="advisors" class="control-label col-md-2">Advisor</label>
							<div class="col-md-8"><input type="text" id="advisor" name="advisor" class="form-control" data-ng-model="user.advisor" placeholder="Fill in Advisor"></div>
						</div>
						<div class="form-group">
							<label for="researchfield" class="control-label col-md-2">Research Field</label>
							<div class="col-md-8"><input type="text" id="researchField" name="researchField" class="form-control" data-ng-model="user.researchField" placeholder="Fill in your research field"></div>
						</div>
						<p><hr><h4 class="text-left">Enter which courses you would like to submit this application for: </h4>
						<p>
						<div class="form-group">
							<label for="course1" class="control-label col-md-2">Course 1</label>
							<div class="col-md-8"><input type="text" id="course1" name="course1" class="form-control" data-ng-model="user.course1" placeholder="course1"></div>
						</div>
						<div class="form-group">
							<label for="course2" class="control-label col-md-2">Course 2</label>
							<div class="col-md-8"><input type="text" id="course2" name="course2" class="form-control" data-ng-model="user.course2" placeholder="course2"></div>
						</div>
						<div class="form-group">
							<label for="course3" class="control-label col-md-2">Course 3</label>
							<div class="col-md-8"><input type="text" id="course3" name="course3" class="form-control" data-ng-model="user.course3" placeholder="course3"></div>
						</div>
						<div class="form-group">
							<label for="course4" class="control-label col-md-2">Course 4</label>
							<div class="col-md-8"><input type="text" id="course4" name="course4" class="form-control" data-ng-model="user.course4" placeholder="course4"></div>
						</div>
						 <div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Application</button>
					 <button type="button" class="btn" ng-click="profile();">Cancel</button>				
				</div>

				<div data-ng-show="success" class="text-center text-success">
					<strong>Application Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
					</fieldset>
				</form>
			</div>
		</div>
    </div>
</section>
