<section class="row" data-ng-controller="AuthenticationController">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
       <div class="container">
	<h3 class="col-md-12 text-center">Create Faculty Profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="createFaculty()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="faculty.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="faculty.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="faculty.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					 <button type="submit">Create Faculty</button>				
				</div>
				<div>
					<button type="submit" ng-click="back();">Back</button>	
				</div>
			</fieldset>
		</form>
	</div>
	</DIV>
  </DIV>
</section>
