<section ng-controller="RemoveController">
  <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <div class="jumbotron" style="width:800px; margin: 0 auto; margin: 20px auto;">
       <div class="container">
  <table>
    <thead>
      <tr><th colspan="4"><h2>Remove A Course</h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p></th></tr>
    </thead>
      <p>
        {{showman}} 
      </p>
    <tr>
       <td>
          <input type="radio" ng-model="courseSelected" value="{{course1}}">{{course1}}<br>
       </td>
    </tr>
    <tr>
      <td>
        <input type="radio" ng-model="courseSelected" value="{{course2}}">{{course2}}<br>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" ng-model="courseSelected" value="{{course3}}">{{course3}}<br>
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" ng-model="courseSelected" value="{{course4}}">{{course4}}<p>
      </td>
    </tr>
  </table>
    <button type="submit" ng-click="removeCourse();" class="btn btn-large btn-primary">Remove Course</button>&ensp;
    <button type="button" class="btn btn-large" ng-click="facultyHome()">Nevermind</button>
  </div>
</div>
</section>