<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TA Management Software </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--link rel="stylesheet" href="starter-template.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<div class="jumbotron">
      <div class="container">
        <h1>TA Management Software</h1>
        <p>This is a system for Prospective TAs and Faculty which allows students who would like to be TAs to apply for the classes they would most like to TA.  It also allows Faculty to reccomend students, and hopefully find a perfect fit for both parties.</p>

        <!--div ng-controller="ModalDemoCtrl">
              <script type="text/ng-template" id="myModalContent.html">
                  <div class="modal-header"><h3 class="modal-title">Register!</h3>
                    </div>
                    <div class="modal-body">
            <section class="row" data-ng-controller="AuthenticationController">
                          <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
                            <fieldset>
                              <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                  </div>
                              <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                  </div>
                              <div class="modal-footer">
                                  <div class="text-center form-group">
                      <button type="submit" ng-click="ok()" class="btn btn-large btn-primary">Sign up</button>
                      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                  </div>
                          </fieldset>
                          </form>
                  </section>
                     </div>
                </script> 
                <button class="btn btn-primary btn-lg" ng-click="open('sm')">Register</button>
                  <<div ng-show="selected">Selection from a modal: {{ selected }}</div>>
        </div -->
    
            <!--div ng-controller="ModalDemoCtrl2">
                  <script type="text/ng-template" id="myModalContent2.html">
                      <div class="modal-header">
                          <h3 class="modal-title">Sign In!</h3>
                      </div>
                      <div class="modal-body">
                          <form name="form" method="post" action="/signup" novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                            <div class="form-group">
                              <label for="username" class="control-label">Username</label>
                              <input type="text" name="username" id="username" placeholder="Username" unique-username="" required="" ng-model="username" autofocus="" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-is-taken ng-valid-invalid-chars">
                              <i ng-show="busy" class="halflings-icon refresh rotating" style="display: none;"></i>
                              <span ng-show="form.username.$dirty &amp;&amp; form.username.$error.required" class="help-block" style="display: none;">Please choose a username</span>
                              <span ng-show="form.username.$dirty &amp;&amp; form.username.$error.isTaken" class="help-block" style="display: none;">Username already taken</span>
                              <span ng-show="form.username.$dirty &amp;&amp; form.username.$error.invalidChars" class="help-block" style="display: none;">Username may not contain any non-url-safe characters</span></div><div class="form-group">
                              <label for="email" class="control-label">Email</label>
                              <input type="email" ng-model="email" name="email" id="email" placeholder="Email" required="" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                              <span ng-show="form.email.$dirty &amp;&amp; form.email.$error.email" class="help-block" style="display: none;">Email is invalid</span>
                            </div>
                            <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" name="password" id="password" ng-model="password" required="" match="verification" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-match">
                            <span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block" style="display: none;">Please enter a password</span>
                            </div>
                            <div class="modal-footer">
                              <input type="submit" value="Sign up" ng-click="ok()" ng-disabled="form.$invalid" class="btn btn-primary" disabled="disabled">
                          </form>
                      </div>
                      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </script> 

                  <button class="btn btn-primary btn-lg" ng-click="open('sm')">Sign In</button>
                  <!<div ng-show="selected">Selection from a modal: {{ selected }}</div>>
              </div -->
           
      </div>
    </div>


   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TA Management Software</a>
        </div>
        <div class="navbar-collapse collapse">
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>TA Management Software</h1>
        <p class="lead">This software is to help Prospective CISE TAs choose the classes they would like to TA for.<br> Register here at the bottom to begin the process that will connect you and your professor.</p>
            <div ng-controller="ModalDemoCtrl">
            	<script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header"><h3 class="modal-title">Register!</h3>
                    </div>
                  <div class="modal-body">
						<section class="row" data-ng-controller="AuthenticationController">
              <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
              <fieldset>
	               <div class="form-group">
										<label for="username">Username</label>
										<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
								 </div>
	               <div class="form-group">
										<label for="password">Password</label>
										<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
								 </div>
	               <div class="modal-footer">
	                 <div class="text-center form-group">
											<button type="submit" ng-click="ok()" class="btn btn-large btn-primary">Sign up</button>
											<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
									 </div>
									</div>
		            </fieldset>
	             </form>
            	</section>
              </div>
                </script> 
                <button class="btn btn-default" ng-click="open('sm')">Register</button>
                  <!--<div ng-show="selected">Selection from a modal: {{ selected }}</div>-->
           	</div>

                <div ng-controller="ModalDemoCtrl2">
                  <script type="text/ng-template" id="myModalContent2.html">
                      <div class="modal-header">
                          <h3 class="modal-title">Sign In!</h3>
                      </div>
                      <div class="modal-body">
                      <section class="row" data-ng-controller="AuthenticationController">
                          <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                      <fieldset>
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                        <div class="modal-footer">
                          <div class="text-center form-group">
                            <button type="submit" ng-click="ok()" class="btn btn-primary">Sign in </button>&nbsp; or&nbsp;
                            <a href="/#!/signup" class="btn btn-primary">Sign up</a>
                          </div>
                          <div class "forgot-password">
                          <a href="/#!/password/forgot">Forgot your password?</a>
                          </div>
                          <div data-ng-show="error" class="text-center text-danger">
                           <strong data-ng-bind="error"></strong>
                          </div>
                        </div>
                      </fieldset>
                      </form>
                      </section>
                      </div>
                      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </script> 

                  <button class="btn btn-default" ng-click="open('sm')">Sign In</button>
                  <!--<div ng-show="selected">Selection from a modal: {{ selected }}</div>-->
                </div>
              </body>

      </div>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../collapse.controller.js"></script>

  </body>
</html>